{% load render_bundle from webpack_loader %}
{% load staticfiles i18n %}

<base href="/" />

<!DOCTYPE html>

<html>
  <head>
      <title>BetterSelf - Your Body's Dashboard</title>
      <link rel="shortcut icon" href="{% static "images/logos/logojoy/favicon.png" %}" />

      {# Investigate how to make this load async #}
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" />

      <link href="{% static "css/coreui-style.css" %}" rel="stylesheet" />

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
      <link href="{% static "css/glyphicons.css" %}" rel="stylesheet" />
      <link href="{% static "css/glyphicons-filetypes.css" %}" rel="stylesheet" />
      <link href="{% static "css/glyphicons-social.css" %}" rel="stylesheet" />
      <link href="{% static "css/simple-line-icons.css" %}" rel="stylesheet" />

      <link href="{% static "css/pinegrow/legacy.css" %}" rel="stylesheet">
      <link href="{% static "css/react-datetime-picker.css" %}" rel="stylesheet">
      <link href="{% static "css/special.css" %}" rel="stylesheet">

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-104074425-1', 'auto');
        ga('send', 'pageview');
      </script>
  </head>

  <body>
    <div id="root"></div>
    {# render_bundle needs to be under div! Otherwise won't render #}
    {% render_bundle 'main' %}
  </body>
</html>

