html {
	height: 100%;
}
body {
	font-size: 15px;
	color: #333;
	background: url(/images/blur/img2.jpg) no-repeat 30% 30%;
}
p {
	color: #333;
}

/* Left section */
.coming-soon-v2-left {
	padding: 50px 30px;
	z-index: 1;
	height: 580px;
	background: #fff;
}
.coming-soon-v2-left:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: rgba(0,0,0,.4);
	z-index: -1;
}
.coming-soon-v2-left h1 {
	position: absolute;
	left: 30px;
	bottom: 30px;
	text-transform: uppercase;
	font-size: 28px;
	line-height: 1.5;
	color: #fff;
	font-weight: 100;
	margin: 0;
}

/* Right section */
.coming-soon-v2-right {
	background: #fff;
	padding: 50px 30px;
	height: 580px
}
.coming-soon-v2-right h2 {
	text-transform: uppercase;
	font-size: 36px;
	line-height: 1.5;
	color: #000;
	margin: -15px 0 10px;
}
.coming-soon-v2-right p {
	margin-bottom: 50px;
}

/* Copyright */
.footer {
	position: absolute;
	left: 30px;
	bottom: 30px;
}

/* Social */
.social-links {
	margin-bottom: 15px;
}
.social-links li {
	display: inline;
	margin-right: 12px;
}
.social-links li i.fa {
	font-size: 15px;
}
.footer a {
	color: #9b6bcc;
}
.footer a:hover {
	color: #7f4bb3;
	text-decoration: none;
}
.coming-soon-v2-left-wrapper,
.coming-soon-v2-right-wrapper {
	padding-left: 0;
	padding-right: 0;
}

@media (max-width: 991px) {
	.coming-soon-v2-left-wrapper,
	.coming-soon-v2-right-wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
	.coming-soon-v2-left {
		height: 300px;
	}
	.coming-soon-v2-right {
		height: auto;
	}
	.footer {
		position: static;
		padding-top: 40px;
	}
}

/* Countdown
------------------------------------*/
#defaultCountdown {
	width: 100%;
	overflow: hidden;
}
#defaultCountdown span.countdown-section {
	padding: 0 10px 0 20px;
	margin-bottom: 20px;
	text-align: center;
	display: inline-block;
	position: relative;
}
#defaultCountdown span.countdown-section:after {
	content: ":";
	position: absolute;
	left: 0;
	top: -3px;
	font: 300 36px/1 "Open Sans", sans-serif;
}
#defaultCountdown span.countdown-section:first-child:after {
	display: none;
}
#defaultCountdown span.countdown-section:first-child {
	padding-left: 0;
	margin-left: -10px;
}
#defaultCountdown span.countdown-section:last-child {
	width: 100px;
}
#defaultCountdown span.countdown-amount {
	position: relative;
	display: block;
	padding: 0 10px;
	font: 300 36px/1 "Open Sans", sans-serif;
}
#defaultCountdown span.countdown-period {
	display: block;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	padding-top: 5px;
}

@media (max-width: 620px) {
	.coming-soon-v3-left input.form-control {
		display: block;
		max-width: 100%;
		border-radius: 3px !important;
	}
	.input-group .form-control,
	.input-group-addon,
	.input-group-btn {
		display: block;
		margin-bottom: 5px;
	}
}

@media (max-width: 470px) {
	#defaultCountdown span.countdown-section:last-child {
		display: none;
	}
}

@media (max-width: 400px) {
	#defaultCountdown span.countdown-amount {
		font-size: 26px;
	}
	#defaultCountdown span.countdown-section:after {
		font-size: 26px;
	}
	#defaultCountdown span.countdown-period {
		font-size: 11px;
	}
}
