<!DOCTYPE html>
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% load static %}

<head>
  <title>Coming Soon - BetterSelf </title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Analytics On Your Health">
  <meta name="author" content="BetterSelf">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static "images/logos/v1/favicon/favicon.ico" %}">

  <!-- Web Fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&amp;subset=cyrillic,latin">

  <!-- CSS Global Compulsory-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "themes/unify/assets/css/style.css" %}">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static "themes/unify/assets/plugins/animate.css" %}">
  <link rel="stylesheet" href="{% static "themes/unify/assets/plugins/line-icons.css" %}">
  <link rel="stylesheet" href="{% static "themes/unify/assets/plugins/font-awesome.css" %}">

  <!-- CSS Page Style -->
  <link rel="stylesheet" href="{% static "themes/unify/assets/css/pages/page_coming_soon_v2.css" %}">
</head>

<body><!--  class="bg-color-teal" -->
<!--=== Content Part ===-->
<div class="container">
  <div class="coming-soon-v2">
    <!-- Coming Soon v2 Content -->
    <div class="row">
      <div class="col-md-7 col-sm-12 coming-soon-v2-left-wrapper">
        <div class="coming-soon-v2-left">
          <img src="{% static "images/coming_soon/logo2-purple.png" %}" alt="logo">
          <h1>BetterSelf - measuring your productivity. </h1>
        </div>
      </div>

      <div class="col-md-5 col-sm-12 coming-soon-v2-right-wrapper">
        <div class="coming-soon-v2-right">
          <h2>Coming Soon</h2>
          <p>Still so much more for us to go.</p>

          <!-- Coming Soon Plugin -->
          <div class="coming-soon-plugin">
            <div id="defaultCountdown"></div>
          </div>
          <!-- End Coming Soon Plugin -->

          <div class="footer">
            <ul class="list-unstyled social-links">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
            <span class="copyright"> 2016 &copy; ALL Rights Reserved <a href="https://betterself.io/" target="_blank">BetterSelf</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- JS Global Compulsory -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
{#im going to regret this when i dont understand these plugins#}
<script src="{% static "themes/unify/assets/plugins/back-to-top.js" %}"></script>
<script src="{% static "themes/unify/assets/plugins/smoothScroll.js" %}"></script>
<script src="{% static "themes/unify/assets/plugins/countdown/jquery.plugin.js" %}"></script>
<script src="{% static "themes/unify/assets/plugins/countdown/jquery.countdown.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>

<!-- JS Page Level -->
<script src="{% static "themes/unify/assets/js/app.js" %}"></script>
<script src="{% static "themes/unify/assets/js/plugins/style-switcher.js" %}"></script>
<script src="{% static "themes/unify/assets/js/pages/page_coming_soon.js" %}"></script>

<script>
  jQuery(document).ready(function() {
    App.init();
    PageComingSoon.initPageComingSoon();

    $(".coming-soon-v2-left").backstretch([
      "{% static "themes/unify/assets/img/bg/7.jpg" %}",
    ], {duration: 3000, fade:750});

    $('body').css('margin-top', Number($(document).height() - $('.coming-soon-v2').height())/2);
    $(window).resize(function() {
      $('body').css('margin-top', Number($(document).height() - $('.coming-soon-v2').height())/2);
    });
  });
</script>
</body>
</html>
