/*Wrapping element for Sticky-Footer*/
html {
	height: 100%;
	position: relative;
}
body {
	min-height: 100%;
}

/*page 404 error 4
------------------------------------*/
.error-v5 {
	text-align: center;
	padding: 60px 0;
}

.error-v5 h1 {
	text-transform: uppercase;
	font-size: 36px;
	line-height: 1.2;
	font-weight: 300;
	color: #fff;
	margin: 50px 0 30px;
}

.error-v5 span.sorry {
	color: #fff;
	display: block;
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 50px;
}

.error-v5 img.error-img {
	width: 410px;
	height: auto;
	margin: 0 auto 50px;
}

/*For Mobile Devices*/
@media (max-width: 500px) {
	.error-v5 img.error-img {
		width: 290px;
	}
}

.error-v5 form {
	max-width: 420px;
	margin: 0 auto;
}

.error-v5 input.form-control {
	max-width: 280px;
	height: 45px;
	padding-left: 40px;
	margin-right: 15px;
}

.error-v5 span.input-group-btn .btn-u {
	width: 126px;
	height: 45px;
	text-transform: uppercase;
	font-size: 14px;
}

.error-v5 .input-group {
	position: relative;
}

.error-v5 .input-group:before {
	content:"\f002";
	position: absolute;
	font-family: FontAwesome;
	top: 10px;
	left: 15px;
	z-index: 10;
	color: #74c52c;
	font-size: 16px;
}

/*Sticky-Footer
------------------------------------*/
.sticky-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px;
	/* Set the fixed height of the footer here */
	height: 60px;
}
.sticky-footer .copyright-space {
	color: #eee;
	text-align: center;
	font-size: 14px;
}
@media (max-height: 800px) {
	.sticky-footer {
		position: static;
	}
}
