html {
	min-height: 100%;
	position: relative;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 540px;
	font-size: 14px;
}

/* Coming Soon Page 4
------------------------------------*/
/* Top */
.bg-top {
	background: url(../../img/bg/4.jpg) no-repeat scroll center center / cover;
	position: relative;
	z-index: 1;
}
.cover-bg-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	z-index: -1;
}
.coming-soon-v4-top h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 1.5;
	font-weight: 300;
}
.coming-soon-v4-top p {
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 200;
	max-width: 720px;
	margin: 0 auto 50px;
}

/* Middle */
.coming-soon-v4-middle .icon-custom  {
	width: 83px;
	height: 83px;
	margin-bottom: 50px;
	line-height: 90px;
}
i.icon-lg.icon-line {
  font-size: 40px;
}
.coming-soon-v4-middle h2.title-v3-md {
	color: #000;
	text-transform: uppercase;
	font-size: 18px;
}
.service-box p {
	color: #999;
	font-size: 14px;
	line-height: 1.5;
	max-width: 230px;
	margin: 0 auto;
}

/* Bottom */
.bg-bottom {
	background: url(../../img/bg/5.jpg) no-repeat scroll center center / cover;
	position: relative;
	z-index: 1;
}
.cover-bg-bottom {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	z-index: -1;
}
.coming-soon-v4-bottom form {
	max-width: 565px;
	margin: 0 auto 100px;
	text-align: center;
}
.coming-soon-v4-bottom input.form-control {
	max-width: 365px;
	float: left;
	border-radius: 3px !important;
	height: 45px;
	padding-left: 40px;
}
.coming-soon-v4-bottom .input-group:before {
	position: absolute;
	top: 9px;
	left: 14px;
	content: "\f003";
	font-family: FontAwesome;
	z-index: 5;
	color: #3498db;
	font-size: 18px;
}
.coming-soon-v4-bottom .btn-u {
	float: right;
	border-radius: 3px;
	height: 45px;
	text-transform: uppercase;
	font-weight: 200;.
}

@media (min-width: 580px) {
	.coming-soon-v4-bottom .btn-u {
		width: 165px;
	}
}

/* Social links */
.coming-soon-v4-bottom .subfooter .social-links li i.fa {
	font-size: 22px;
	color: #3498db;
}
.coming-soon-v4-bottom .subfooter .social-links li a:hover i.fa {
	color: #1b7fc2;
}
.coming-soon-v4-bottom .subfooter .copyright-space {
	color: #8b9195;
	text-align: center;
	font-size: 16px;
}
.copyright {
	color: #fff;
	font-size: 14px;
}
.copyright a {
	text-decoration: underline;
}
.subfooter a:hover {
	color: #fff;
}

/* Sticky-Footer
------------------------------------*/
.sticky-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 540px;
}
.sticky-footer .copyright-space {
	color: #eee;
	text-align: center;
	font-size: 14px;
}

@media (max-width: 992px) {
	body {
		margin-bottom: 600px;
	}
	.sticky-footer {
	  height: 600px;
	}
}

/* Countdown
------------------------------------*/
#defaultCountdown {
	width: 100%;
	overflow: hidden;
}
#defaultCountdown span.countdown-section {
	padding: 0 20px;
	margin-bottom: 20px;
	text-align: center;
	display: inline-block;
	position: relative;
}
#defaultCountdown span.countdown-section:after {
	content: "";
	position: absolute;
	left: 0;
	top: 15px;
	background: #fff;
	width: 1px;
	height: 30px;
}
#defaultCountdown span.countdown-section:first-child:after {
	display: none;
}
#defaultCountdown span.countdown-section:last-child {
	width: 120px;
}
#defaultCountdown span.countdown-amount {
	position: relative;
	color: #fff;
	display: block;
	padding: 0 10px;
	font: 300 56px/1 "Open Sans", sans-serif;
}
#defaultCountdown span.countdown-period {
	display: block;
	color: #fff;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
}
@media (max-width: 600px) {
	#defaultCountdown span.countdown-section:after {
		top: 9px;
		height: 20px;
	}
	#defaultCountdown span.countdown-section:last-child {
		width: 100px;
	}
	#defaultCountdown span.countdown-amount {
		font-size: 36px;
	}
	#defaultCountdown span.countdown-period {
		font-size: 11px;
	}
}
@media (max-width: 500px) {
	#defaultCountdown span.countdown-section {
		padding: 0 10px;
	}
	#defaultCountdown span.countdown-section:after {
		top: 8px;
		height: 15px;
	}
	#defaultCountdown span.countdown-amount {
		font-size: 28px;
		font-weight: 500;
	}
	#defaultCountdown span.countdown-section:last-child {
		display: none;
	}
}

/* Common heading */
.heading p {
	color: #8b9195;
	line-height: 1.2;
	margin-bottom: 0;
	text-transform: uppercase;
}
.heading h2.title-v2 {
  color: #000;
  position: relative;
  margin-bottom: 100px;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 50px !important;
}
.heading h2.title-v2:after,
.coming-soon-v4-middle .icon-custom:after {
	width: 30px;
  height: 2px;
  content: "";
  background: #dde1e3;
  position: absolute;
	bottom: -30px;
  left: 50%;
  margin-left: -15px;
}
.coming-soon-v4-middle .icon-custom:after {
	bottom: 135px;
}

/* Common heading white */
.heading.white p,
.heading.white h2.title-v2 {
	color: #fff;
}
.heading.white h2.title-v2:after {
	background: #fff;
}

#topcontrol:hover {
	background: #e67e22;
}
