/*--------------------------------------------------
  Registration and Login Page v3
----------------------------------------------------*/
body {
	font-size: 14px;
}
.space-xlg-hor {
	padding-right: 115px;
	padding-left: 115px;
}
.margin-bottom-70 {
	margin-bottom: 70px;
}

/* Header and footer */
.header-v6 {
	font-family: arial;
}

.footer-v1 .footer,
.footer-v1 .copyright {
	line-height: 24px;
  background: #223539;
}

.footer-v1 .copyright {
	opacity: .98;
}

.footer-v1 .latest-list small {
	color: rgba(255,255,255,.6);
}

.footer-v1 .link-list li,
.footer-v1 .latest-list li {
	border-color: rgba(255,255,255,.1);
}

.footer-v1 .footer-socials li a{
	color: rgba(255,255,255,.6);
}

/* The login and registration form wrapper */
.forms-wrapper {
	min-height: 750px;
	position: relative;
	z-index: 1;
}
.forms-wrapper:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	content: "";
	background: rgba(34,53,57,.8);
}
.head {
	text-align: center;
}
.head h1,
.head p {
	color: #fff;
}
.head h1 {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 60px;
	position: relative;
	line-height: 45px;
}
.head h1:after {
	position: absolute;
	content: "";
	bottom:-25px;
	left: 50%;
	width: 30px;
	height: 2px;
	background: #fff;
	margin-left: -15px;
}
.head p {
	font-size: 16px;
	max-width: 65%;
	margin: 0 auto;
	opacity: 0.8;
	line-height: 1.5;
}

/* The form block of both forms */
.form-block {
	padding: 55px 75px;
	margin: 0 auto;
	background: #fff;
	border-top: none !important;
}

/* Form Header */
.form-block-header h2 {
	font-size: 18px;
	font-weight: 400;
}

/* Input fields */
.form-block .input-group input.form-control {
	background: transparent;
	border-left: none;
	height: 45px;
}

/* Input fields icons */
.form-block .input-group-addon {
	background: transparent;
	padding-right: 0;
}
.form-block .input-group-addon i {
	font-size: 14px;
	position: relative;
	top: 1px;
}
.form-block .form-control:focus {
	box-shadow: none;
	border-color: #999;
}

/* Buttons */
.form-block button:focus {
  color: #fff;
}
.form-block .btn-u,
.form-block .btn {
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
}

/* Login form */
.login-block {
	background: #69c4c7;
}
.login-block h2 {
	color: #fff;
}

/* Input fields */
.login-block .input-group input.form-control {
	border-color: rgba(255,255,255,0.7);
	border-left: none;
	color: #fff;
}

/* Input fields icons */
.login-block .input-group-addon {
	color: #fff;
	background: transparent;
	border-color: rgba(255,255,255,0.7);
}

/* Placeholder */
.login-block ::-webkit-input-placeholder {
  color: #fff;
}
.login-block ::-moz-placeholder {
  color: #fff;
}
.login-block :-ms-input-placeholder {
  color: #fff;
}

.reg-block ::-webkit-input-placeholder {
  color: #aaa;
}
.reg-block ::-moz-placeholder {
  color: #aaa;
}
.reg-block :-ms-input-placeholder {
  color: #aaa;
}

/* Social buttons */
.login-block .social-login {
	padding-top: 70px;
	border-top: 1px solid #fff;
	position: relative;
}
.login-block .or {
	position: absolute;
	border: 1px solid #fff;
	width: 70px;
	height: 70px;
	top: -35px;
	left: 50%;
	margin-left: -35px;
	text-transform: uppercase;
	color: #fff;
	background: #69c4c7;
	line-height: 70px;
	padding: 0 24px;
	z-index: 1;
}
.login-block .btn {
	line-height: 22px;
}
.login-block .btn .fa {
	font-size: 16px;
	margin-right: 10px;
}
.btn-twitter-inversed {
	background: #46afe5;
}
.login-block .btn.btn-twitter-inversed .fa {
	margin-right: 20px;
}
.btn-facebook-inversed:hover {
  background: #2d4682;
  border-color: #2d4682;
  color: #fff;
}
.btn-twitter-inversed:hover {
  background: #3693c3;
  border-color: #3693c3;
  color: #fff;
}

/* Registration form */
.reg-block h2 {
	color: #000;
}
.reg-block p {
	color: #969595;
	text-align: left;
}

/* Input fields */
.reg-block .input-group input.form-control {
	border-color: rgba(214,214,214,0.5);
	border-left: none;
	color: #969595;
}

/* Input fields icons */
.reg-block .input-group-addon {
	color: rgba(0,0,0,.2);
	background: transparent;
	border-color: rgba(214,214,214,.5);
}

/* Checkbox */
.reg-block .checkbox label {
	display: list-item;
	list-style: none;
	max-width: 210px;
}

.reg-block .checkbox p {
	font-size: 13px;
	font-weight: 400;
}

/* Responsive */
@media (max-width: 1200px) {
	.space-xlg-hor {
		padding-right: 100px;
		padding-left: 100px;
	}
	.form-block {
		padding: 55px;
	}
}

@media (max-width: 992px) {
	.header-v6 {
		background: #fff;
	}
	.form-block {
		border-radius: 4px !important;
	}
}

@media (max-width: 768px) {
	.space-xlg-hor {
		padding-right: 50px;
		padding-left: 50px;
	}
	.form-block {
		min-width: 350px;
	}
}

@media (max-width: 446px) {
	.space-xlg-hor {
		padding-right: 0;
		padding-left: 0;
	}
}

.footer .form-control {
	border-color: #fff;
	height: 32px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.footer .btn-u {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
