/*This file is testament to my inadequacy at CSS*/

#event-dashboard-submit {
  background-color: #193441;
  margin-top: 0;
  margin-bottom: 0;
}

.add-event-label {
  font-weight: bold;
}

#create-new-supplement-button {
  margin-bottom: 0;
  background-color: #c80032;
  color: white;
}

#add-supplement-entry-text {
  line-height: 2;
}

#white-text {
  color:white
}

.dashboard-label-text{
  font-weight: bold;
}

.remove-icon{
  color: darkred;
  text-align: center;
}

.true-icon{
  color: darkgreen;
  text-align: center;
}

.badge .badge-success {
  text-align: center;
}

.center-source {
  text-align: center;
}

/*.dashboard-example .img-responsive {*/
  /*height: 40%;*/
  /*width: 20%*/
/*}*/

/*.img .img-responsive .dashboard-example {*/
  /*height: 100%;*/
  /*width: 20%*/
/*}*/
/*.container .slick-list {*/
  /*width: 20%;*/
  /*height: 50%*/
/*}*/

/*.div .slick-slide .slick-active {*/
  /*height: 20%*/
/*}*/

.slick-list .col-lg-5{
  height: 100%;
}
