/*This file is testament to my inadequacy at CSS*/

#supplement-dashboard-submit {
  background-color: #193441;
  margin-top: 0;
  margin-bottom: 0;
}

.add-supplement-label {
  font-weight: bold;
}

#create-new-supplement-button {
  margin-bottom: 0;
  background-color: #c80032;
  color: white;
}

#add-supplement-entry-text {
  line-height: 2;
}

#white-text {
  color:white
}
